[defaults]
inventory = ./inventory
remote_user = ansible
host_key_checking = false
private_key_file = /home/calle/.ssh/server_key
forks=32
pipelining=true

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o ControlMaster=auto -o ControlPersist=60s
