services:
  gluetun:
    image: qmcgaw/gluetun:v3.39.1
    cap_add:
      - NET_ADMIN
    environment:
      - VPN_SERVICE_PROVIDER= "{{ arr_vpn_service_provider }}"
      - VPN_TYPE= "{{ arr_vpn_type }}"
      - WIREGUARD_PRIVATE_KEY= "{{ arr_wireguard_private_key }}"
      - WIREGUARD_PRESHARED_KEY="{{ arr_wireguard_preshared_key }}"
      - WIREGUARD_ADDRESSES="{{ arr_wireguard_address }}"
      - SERVER_NAMES="{{ arr_vpn_server_names }}"
      - FIREWALL_VPN_INPUT_PORTS=55536
    devices:
      - /dev/net/tun:/dev/net/tun
    volumes:
      - ./gluetun/config:/config
    ports:
      - 8080:8080 # qbittorrent webui
      - 55536:55536 # qbittorrent
      - 55536:55536/udp # qbittorrent
      - 6767:6767 # bazarr
      - 7878:7878 # radarr
      - 8989:8989 # sonarr
      - 9696:9696 # prowlarr
      - 7474:7474 # autobrr
      - 9117:9117 # jackett
    restart: always

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:4.6.6
    container_name: qbittorrent
    network_mode: "service:gluetun"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Stockholm
      - WEBUI_PORT=8080
    volumes:
      - ./qbittorrent/config:/config
      - /mnt/storage
      - ./qbittorrent/speedtest:/speedtest
    restart: always
    depends_on:
      gluetun:
        condition: service_healthy

  bazarr:
    image: ghcr.io/linuxserver/bazarr:latest
    container_name: bazarr
    network_mode: "service:gluetun"
    environment:
      - PUID=900
      - PGID=1500
      - TZ=Europe/Stockholm
    volumes:
      - ./bazarr/config:/config
      - /mnt/18tb/jellyfin:/media
      - /opt/subcleaner:/opt/subcleaner
      - ./subsync.py:/scripts/subsync.py
    restart: always
    depends_on:
      gluetun:
        condition: service_healthy


  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    network_mode: "service:gluetun"
    environment:
      - PUID=900
      - PGID=1500
      - TZ=Europe/Stockholm
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./bazarr/config:/config
      - /mnt/18tb:/mnt/18tb
    restart: always
    depends_on:
      gluetun:
        condition: service_healthy

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    network_mode: "service:gluetun"
    environment:
      - PUID=900
      - PGID=1500
      - TZ=Europe/Stockholm
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./sonarr/config:/config
      - /mnt/18tb:/mnt/18tb
    restart: always
    depends_on:
      gluetun:
        condition: service_healthy

  autobrr:
    container_name: autobrr
    image: ghcr.io/autobrr/autobrr:latest
    user: 900:1500
    network_mode: "service:gluetun"
    environment:
      - TZ=Europe/Stockholm
    volumes:
      - ./autobrr/config:/config
    restart: always
    depends_on:
      gluetun:
        condition: service_healthy

  jackett:
    image: lscr.io/linuxserver/jackett:latest
    container_name: jackett
    network_mode: "service:gluetun"
    environment:
      - PUID=900
      - PGID=1500
      - TZ=Etc/UTC
      - AUTO_UPDATE=true #optional
      - RUN_OPTS= #optional
    volumes:
      - ./jackett/config:/config
      - ./jackett/downloads:/downloads
    restart: unless-stopped
    depends_on:
      gluetun:
        condition: service_healthy

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    network_mode: "service:gluetun"
    environment:
      - PUID=900
      - PGID=1500
      - TZ=Etc/UTC
    volumes:
      - ./prowlarr/config:/config
    restart: unless-stopped
    depends_on:
      gluetun:
        condition: service_healthy
